body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f0f0f0;
}

.container {
  display: inline-block;
  text-align: left;
  padding: 20px ;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.ussd-menu {
  font-size: 16px;
}

.ussd-menu p {
  margin: 0 0 20px 0;
}

.ussd-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.ussd-menu ul li {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px;
  font-size: 16px;
  width: 45%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cancelButton {
  background-color: #ccc;
}

#cancelButton:hover {
  background-color: red;
}

#sendButton {
  background-color: #007bff;
  color: white;
}

#sendButton:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 20px;
  color: green;
  font-size: 14px;
}